:root {
  --primary-color: white;
  --secondary-color: #F65A83;
  --tertiary-color: black;
  --quartenary-color: #eaeaea;

  --md-rem: 2rem;
  --lg-rem: 3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  color: var(--secondary-color);
  background: rgb(238, 238, 238);
}

html {
  color-scheme: light;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  border-top: 1px solid var(--quartenary-color);
  background-color: black;
  width: 100%;
  padding: var(--lg-rem) var(--md-rem);
  display: flex;
  flex-direction: row;
  color: pink;
}

.col {
  display: flex;
  flex-direction: column;
  margin-right: var(--lg-rem);
}

nav>li {
  text-align: center;
}

header {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 0 var(--lg-rem);
  justify-content: space-between;
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--quartenary-color);
  flex-wrap: wrap;
  width: 100%;
}

header button,
header h1 {
  display: inline-block;
}

li {
  text-decoration: none;
  list-style: none;
  margin: auto;
  padding: 1rem 3rem 1rem 1rem;
}

nav>li {
  padding: 0
}

nav>li>a {
  margin: 0 auto;
}

#login,
#register {
  padding: 0.4rem;
  margin-left: var(--md-rem);
  width: 7rem;
  border-radius: var(--lg-rem);
  cursor: pointer;
}

:is(#login, #register):hover {
  opacity: 90%;
}

#login {
  background: var(--primary-color);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

#register {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--primary-color);
}

.list {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: var(--lg-rem);
  padding: 0 var(--md-rem);
}

.categories>.list>ul>li {
  cursor: pointer;
  padding: 1rem 3rem 1rem 1rem;
}

.categories>.list>ul>li:hover {
  background-color: var(--quartenary-color);
  transition: background-color 500ms ease-out;
}

#load-more {
  margin-top: 3vh;
}

.post {
  width: 100%;
  background-color: var(--primary-color);
  padding: var(--md-rem);
  margin-bottom: var(--md-rem);
  color: var(--secondary-color);
}

.vote-div {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.vote-div>section>span {
  padding-left: 3px;
}

.username-date-div,
.likes-category-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thread {
  background-color: var(--quartenary-color);
  padding: 1rem;
  width: 80%;
  text-align: start;
  cursor: pointer;
  margin-bottom: var(--md-rem);
}

.index {
  background: var(--primary-color);
  padding: var(--md-rem) 7rem;
  display: flex;
  justify-content: center;
  align-content: space-around;
  border-bottom: 1px solid var(--quartenary-color);
}

.categories {
  background: var(--primary-color);
  padding: var(--md-rem) 7rem;
  min-height: 50vh;
}

.categories>h3 {
  padding-left: var(--lg-rem);
}

.categories .list {
  margin-top: var(--md-rem);
  text-align: start;
}

.index>h3 {
  margin-right: 1rem;
}

.comment {
  padding-left: 1rem;
  border-left: 1px solid var(--quartenary-color);
}

#logo-header {
  display: flex;
  align-items: center;
  min-height: 80px;
  cursor: pointer;
}

.comment-stack>.post {
  margin: 0
}

.category-title {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.category-title > h4 {
  display: inline-block;
  cursor: pointer;
}

.new-thread {
  text-align: center;
  cursor: pointer;
  padding: 1rem 0;
}

.new-thread:hover {
  background-color: var(--quartenary-color);
  transition: background-color 500ms ease;
}

.message {
  text-align: center;
  padding: 10px;
  background-color: var(--primary-color);
}

.edited {
  color: grey;
  font-size: smaller;
}

@media screen and (max-width: 600px) {
  #logo-header>h1 {
    display: none
  }

  #logo-header,
  #login {
    margin: 0;
    width: 4rem;
  }

  #register {
    display: none;
  }
  footer {
    flex-direction: column;
    overflow: scroll;
  }
  .category-title {
    flex-direction: column;
    margin-top: 1rem;
  }

  .index {
    padding: 1rem;
  }
  .categories {
    padding: 1rem;
    width: 100%;
  }

  .list {
    padding: 0;
  }
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  :root {
    --primary-color: black;
    --secondary-color: #F65A83;
    --tertiary-color: white;
    --quartenary-color: #eaeaea;
  }
}