.form {
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
}

.form > h4 {
    margin-top: 1rem;
}

.form > input{
    margin-top: 1rem;
    padding: 10px;
    width: 50vw;
    border-radius: 1rem;
    border: 1px solid var(--secondary-color);
}

.form > textarea {
    margin-top: 1rem;
    padding: 10px;
    width: 80vw;
    border-radius: 1rem;
    border: none;
    border: 1px solid var(--secondary-color);
    resize: none;
}

:is(input, textarea, select):focus {
    outline: none;
}

.form > button {
    margin: 1rem;
    padding: 5px;
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.form > button:hover {
    background-color: var(--secondary-color);
    transition: background-color 500ms ease;
}

.form > select {
    margin-top: 1rem;
    padding: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 12px;
}